.features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

.features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.features .fea-base .fea-box {
    background-color: #fff;
    text-align: start;
}

.features .fea-base .fea-box i {
    font-size: 2.3rem;
    color: #0CAF69;
}

.features .fea-base .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #062639;
    padding: 13px 0 7px 0;
}

.features .fea-base .fea-box p {
    font-size: 1rem;
    font-weight: 400;
}